body {
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s;
}
/*efecto ajax*/
#borrar {
    display: none;
}
#agregar {
    text-align: center;
    font-weight: bold;
      color: #fff;
    text-transform: capitalize;
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s;
    width: 100%;
    height: 65px;
   background-image: url(../img/estrellasAcabado.png);
    background-repeat: repeat;
    padding-top: 25px;
    
}

/*imagenes*/
.imagen img {
	max-width: 100%;
	height: auto;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

/*Contenedor Principal*/

.wrapper {
	max-width:980px;
	width:95%;
    height: auto;
	margin:0 auto;
	position:relative;
   
}

/*iconos general */
.header-link {
  display: inline-block;
    width: 100%;
}
.header-link ul {
     float: right;
    width: 395px;
    margin: 10px 0px 0px 0px; 
    
}
.header-link ul li {
   display: inline;
    list-style: none; 
    margin-left: 20px;
    text-transform: uppercase;
    color: #3A3335;
    height: 10px;
    vertical-align: top;
    cursor: pointer;
}
/*
.header-link ul li:nth-child(3n) {
    margin-left: 10px;

}
*/

.ico-sucursales {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../img/sprite.png);
    background-position: -48px 0px;
    margin-right: 5px;
    
}
.ico-comprar {
   display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../img/sprite.png);
    background-position: -68px 0px;
     margin-right: 5px;
    
}
.ico-line {
   display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: top;
    
}
.ico-ver-mas {
   display: inline-block;
    width: 18px;
    height: 23px;
    background-image: url(../img/sprite.png);
    background-position: -220px 9px;
     margin-left: 10px;
    
}
.ico-adidas {
   display: inline-block;
    width: 50px;
    height: 28px;
    background-image: url(../img/sprite.png);
    background-position: -0px 70px;
     margin-left: 65px;  
}



.ico-flecha {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../img/sprite.png);
    background-position: -300px 3px;
    float: right;
    margin-right: 5px;
}

/*header Logo*/
.header-main {
    display: inline-block;
    width: 100%;
    height: auto;
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.header-logo {
    float: left;
    width: 153px;
    height: 53;
     display: inline-block;
}
/*header buscar*/
.header-buscar {
    margin-top: 10px;
    display: inline-block;
    height: 35px;
    margin-left: 40px;
}
form {
    height: 35px;
    display: block;
    position: relative;
}
  input[type="text"] {
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #ccc;
        width: 500px;
      height: 35px;
    position: absolute;
      color: #ccc;
      padding-left: 18px;
       

     }
button {
    background-color: #feaf16;
    border: 0px;
    width: 35px;
    height: 39px;
	cursor: pointer;
     background-image: url(../img/sprite.png);
    background-position: -0px 40px;
    position: absolute;
    left: 500px;
    border-top: 1px solid #ccc;
border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

-webkit-border-radius: 0 3px 3px 0;
border-radius: 0 3px 3px 0;
    
}

/*header imagen oferta gif*/
.header-ofertas {
    display: inline-block;
    width: 200px;
    height: 37px;
    cursor: pointer;
        float: right;
    margin-top: 10px;
}
/*nav menu de navegacion */
#menu {
    top: 0;
    position: fixed;
    z-index: 1000000000;
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s;
    padding-top: 0px;
}
#menu ul {
    padding: 0px;
}
nav {
    width: 100%;
    height: 40px;
    background-color: #323232;
}
nav ul {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

}

nav ul li {
    display: inline-block;
     display: inline;
    list-style: none; 
 color: #FCAF17;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px 0px 0px 15px;
     position: relative;
      -webkit-transition: all 1s; /* Safari */
    transition: all 1s;
}
nav ul li:nth-child(5n),nav ul li:nth-child(6n),nav ul li:nth-child(7n)  {
    display: inline-block;
     display: inline;
    list-style: none; 
 color: #FCAF17;
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0px 0px 0px 15px;
    float: right;
    vertical-align: top;
}
nav ul li:nth-child(6n) {
      margin-top: -2px;
}


nav ul li a,nav ul li a:link,nav ul li a:active {
    color: #FCAF17;
    text-decoration: none;
    
    
   
}

nav ul li a:hover {
   
     border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #FCAF17;
    
}
.ico-line-nav {
   display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: top;
    color: #5b5b5b;
    font-weight: lighter;
    
}
.ico-buy {
   display: inline-block;
    width: 18px;
    height: 17px;
    background-image: url(../img/sprite.png);
    background-position: -88px 0px;
     margin-right: 5px;
    
}

/*submenu de nav*/
nav ul li:hover > .submenu {
    display: block;
}
nav ul li .submenu {
    width: 450px;
    height: 330px;
    position: absolute;
    top: 30px;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff; 
    -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #ccc;
    /*display para ocultar el elemento*/
   display: none;
    z-index: 10000000;
}

nav ul li .submenu .submenu-left-menu ul {
border-right: 1px solid #ccc;
    width: 200px;
    height: 200px;
    float: left;
    margin-top: 20px;
}
nav ul li .submenu .submenu-right-menu {

    width: 220px;
    height: 200px;
    float: left;
    margin-top: 20px;
}
nav ul li .submenu .submenu-right-menu .img-medias {
    float: none;
    margin: 0px auto;
    border: 1px solid #ccc;
    width: 170px;
}
nav ul li .submenu .submenu-right-menu .texto-media {
    margin-top: 10px;
}
nav ul li .submenu .submenu-right-menu .texto-media p {
    width: 170px;
    float: none;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    margin: 0px auto;
    color: #000;
}
nav ul li .submenu .submenu-right-menu .texto-media p:nth-child(2n) {
    width: 170px;
    float: none;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    margin: 0px auto;
    color: #d24903;
}
nav ul li .submenu .submenu-left-menu ul li, nav ul li .submenu .submenu-left-menu ul li a {
    display: block;
    text-transform: capitalize;
    text-align: left;
    float: none;
    color: #000;
    font-weight: lighter;
    font-size: 17px;
}
nav ul li .submenu .submenu-left-menu ul li, nav ul li .submenu .submenu-left-menu ul li a:hover {
  font-weight: bold;
    border-bottom: none;
}
.tituloInterno-submenu {
    font-weight: bold !important;
    background-color: #fdaf17;
     text-transform: uppercase;
    padding: 3px 7px 3px 7px;
    width: 75px;
    font-size: 20px;
    margin-bottom: 25px;
    
}
.triangulo {
     width: 0;
     height: 0;
     border-right: 10px solid transparent;
     border-top: 10px solid transparent;
     border-left: 10px solid transparent;
     border-bottom: 15px solid #fff;
         position: absolute;
     z-index: 10000001;
    top: -20px;
    left: 25px;
    display: block;
  
}
.ver-mas a {
    font-weight: bold !important;
    
}
/*imagenes de las marcas*/
.img-marcas {
    width: 100%;
    height: auto;
    float: none;
    margin: 0px auto;
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s;
}
/*listado de productos - filtro */
.acordion-1 {
    width: 165px;
   
}
.acordion-1 p {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 5px;
    font-weight: bold;
    padding-left: 5px;
}
.aco-color{
    background-color: #fcae41 !important;
    color: #000 !important;
}
 input[type="checkbox"] {
  width: 15px;
    height: 15px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    overflow: hidden;
appearance: none;
 -moz-appearance: none;
 -webkit-appearance: none;
 border: 1px solid #c8c6c6;
     border-radius: 2px;
-webkit-border-radius: 2px;
     }
.acordion-1 label {
   padding-left: 15px;
    text-indent: -15px;
    display: block;
    font-size: 15px;
    margin-top: 10px;
    
}
.contenedor-check {
    display: none;
}
.contenedor-check2 {
    display: none;
}
.contenedor-check3 {
    display: none;
}
#contenedor-check {
    display: block;
}
.text-filtro {
    font-size: 14px;
    font-style: oblique;
    font-weight: 700;
    text-transform: uppercase;
}
/*producto de lista */
.productos {
    width: 185px;
    height: 270px;
    float: left;
    margin 5px; 
}
.productos .img-productos {
    width: 170px;
    height: auto;
    float: none;
}
.productos  p:nth-child(2n) {
    color: #231f20;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    margin: 0px;
    
}
.productos  p:nth-child(3n) {
    color: #d44700;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    margin: 0px;
    
}
.productos  p:nth-child(4n) {
    color: #5c5c5c;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    margin-left: 0px;
    margin-top: 5px;
    
}
#verde {
  color: green;
}

#big {
  font-size: 17px;  
}
.oferta,.oferta:before {
    background-color: red;
    text-align: center;
    color: #fff;
    content: "oferta";
    text-transform: uppercase;
   margin-bottom: 5px !important;
    font-weight: bold;
    font-size: 11px;
}
.off {
     width: 165px;
   padding: 2px;
    margin-top: 0px;
    margin-bottom: 20px;
}


/*iconos del listado de producto */
.adidas {
   display: inline-block;
    width: 50px;
    height: 28px;
    background-image: url(../img/sprite.png);
    background-position: -0px 70px;
     margin-left: 60px;  
}
.nike {
   display: inline-block;
    width: 50px;
    height: 28px;
    background-image: url(../img/sprite.png);
    background-position: -55px 70px;
     margin-left: 60px;  
}
.puma {
   display: inline-block;
    width: 50px;
    height: 28px;
    background-image: url(../img/sprite.png);
    background-position: -150px 70px;
     margin-left: 60px;  
}

/*footer*/
footer {
    width: 100%;
    height: 58px;
    background-color: #221e1f;
}
footer .content {
    max-width: 980px;
    width: 95%;
    float: none;
    margin: 0px auto;
}
.img-vtex {
    display: inline-block;
    width: 70px;
    height: 28px;
    background-image: url(../img/sprite.png);
    background-position: -200px 70px;
    margin-left: 20px;  
    margin-top: 15px;
    float: right;
    cursor: pointer;
}
.img-fizzmod {
    display: inline-block;
    width: 70px;
    height: 28px;
    background-image: url(../img/sprite.png);
    background-position: -195px 45px;
    margin-left: 20px;  
    margin-top: 15px;
      cursor: pointer;
     float: right;
}

/*Responsive Desing*/

@media (max-width:980px) {
   .header-logo {
    float: none;
       margin: 0px auto;
    width: 153px;
    height: 53;
     display: block;
}
/*header buscar*/
.header-buscar {
    margin-top: 10px;
    display: block;
    height: 35px;
    margin: 0px auto;
    float: none;
    width: 500px;
}
form {
    height: 35px;
    display: block;
    position: relative;
}
  input[type="text"] {
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #ccc;
        width: 500px;
      height: 35px;
    position: absolute;
      color: #ccc;
      padding-left: 18px;
       

     }
button {
    background-color: #feaf16;
    border: 0px;
    width: 35px;
    height: 39px;
	cursor: pointer;
     background-image: url(../img/sprite.png);
    background-position: -0px 40px;
    position: absolute;
    left: 500px;
    border-top: 1px solid #ccc;
border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

-webkit-border-radius: 0 3px 3px 0;
border-radius: 0 3px 3px 0;
    
}

/*header imagen oferta gif*/
.header-ofertas {
    display: block;
    width: 200px;
    height: 37px;
    cursor: pointer;
        float: none;
    margin: 0px auto;
    margin-top: 15px;
} 
}
